{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body>
  <noscript><style>body { visibility: visible; opacity: 1; }</style></noscript>
  {% include header/main.html %}

  {{ content }}
  google-site-verification: google90c2ed7a5c4d81dc.html

  {% include footer/main.html %}

  {% include scripts.html %}
</body>

</html>
